@media screen and (max-width: 1181px) {
    .container {
        padding-inline: 2rem;
    }

    .navbar {
        padding-inline: 2rem;
    }
}


@media screen and (max-width: 1039px) {
    .tech {
        width: 45%;
    }

    .project-card {
        width: 95%;
        padding-block: 10rem;
    }
}


@media screen and (max-width: 900px) {

    .navbar {
        padding-inline: 2rem;
    }

    .home-box {
        flex-wrap: wrap;
    }

    .home-text {
        width: 100%;
    }

    .home-image {
        width: 100%;
    }

    .about-box {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-image {
        width: 100%;
    }

    .about-text {
        width: 100%;
    }

    .project-card {
        width: 95%;
        padding-block: 8rem;
    }

    .nav-ul {
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        background-color: var(--bg-color);
        width: 100vw;
        align-items: center;
        display: none;
    }

    .nav-ul li {
        padding: 1rem 1rem;
    }

    .nav-ul.active {
        display: flex;
    }

    .ham-btn {
        display: block;
    }
}


@media screen and (max-width: 762px) {
    .project-card {
        padding-block: 5rem;
    }

    .tech {
        width: 75%;
        justify-content: center;
    }

    .tech-name {
        font-size: 2.75rem;
    }
}


@media screen and (max-width: 641px) {
    .tech {
        padding: .2rem;
        padding-block: .6rem;
    }
}


@media screen and (max-width: 593px) {
    .myform {
        width: 100%;
    }

    .project-card {
        padding-block: 2rem;
    }

    .tech {
        padding-inline: 1.5rem;
        justify-content: flex-start;
    }

    .tech-name {
        font-size: 2rem;
    }
}


@media screen and (max-width: 425px) {
    .project-card {
        padding-block: 1rem;
        gap: 0.1rem;
    }

    .project-name {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .work-box {
        padding-block: 0;
    }

    .work-head {
        font-size: 2.5rem;
    }

    .work-head span {
        font-size: 2.5rem;
    }

    .project-desc {
        font-size: 0.5rem;
    }

    .project-card a {
        padding-top: 0.5rem;
    }

    .project-card i {
        font-size: small;
        padding: 0.5rem;
    }

    .skills-head {
        font-size: 2.5rem;
    }

    .skills-head span {
        font-size: 2.5rem;
    }

    .tech {
        width: 100%;
    }

    .tech-name {
        font-size: 1.5rem;
    }

    .ham-btn {
        padding-right: 0;
    }

    .toggle-btn {
        padding-right: 0;
    }

    input:placeholder-shown {
        font-size: smaller;
    }

    textarea:placeholder-shown {
        font-size: smaller;
    }

    .contact-btn {
        justify-content: center;
        width: 100%;
    }
}





