@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #788bff;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-theme {
    --bg-color: #0f172a;
    --text-color: #e5e7eb;
    --main-color: #8b9cff;
    --shadow-color: rgba(0, 0, 0, .6);
}


.flex {
    display: flex;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline: 2rem;
}

.btn {
    display: inline-block;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* navbar */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color);
}

.navbar {
    justify-content: flex-end;
    padding-inline: 3rem;
}

.logo {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
    margin-right: auto;
}

.logo:hover {
    text-shadow: 0 .2rem .5rem var(--shadow-color);
}

.nav-links ul li {
    padding: 1.5rem 1.5rem;
    font-weight: 500;
}

.nav-links a {
    color: var(--text-color);
    position: relative;
    width: max-content;
}

.nav-links a:hover {
    color: var(--main-color);
    transition: 0.2s;
}

.nav-links a::before {
    position: absolute;
    content: '';
    background-color: var(--main-color);
    height: 2px;
    width: 0px;
    bottom: -3px;
    transition: all 0.2s;
}

.nav-links a:hover:before {
    width: 100%;
}

.nav-links i {
    font-size: x-large;
}

.toggle-btn {
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    font-size: x-large;
    font-weight: 500;   
    cursor: pointer;
}

.ham-btn{
    display: none;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    font-size: x-large;
    font-weight: 500;   
    cursor: pointer;
}

/* home */

.home-box {
    padding-top: 6.5rem;
    gap: 2rem;
    justify-content: space-between;
}

.home-text {
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

span {
    font-size: 4rem;
    color: var(--main-color);
    line-height: 3rem;
}

.home-image {
    width: 50%;
}

.home-image img {
    width: 100%;
    transition: 0.3s;
}

.home-image img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.home-links {
    gap: 1rem;
}

.home-links i {
    color: var(--main-color);
    font-size: x-large;
    border: 2px solid var(--main-color);
    padding: .4rem;
    border-radius: 50%;
    transition: 0.2s;
}

.home-links i:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 0 .2rem .5rem var(--shadow-color);
}

.download-btn {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.2s;
    border: 2px solid var(--main-color);
}

.download-btn:hover {
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    color: var(--main-color);
}

/* about */


.about-box {
    padding-block: 4rem;
    gap: 2rem;
    justify-content: space-between;
}

.about-text {
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}

.about-heading {
    flex-direction: column;
}

.about-heading-1 {
    font-size: 3rem;
    font-weight: 650;
}

.about-span {
    font-size: 3rem;
    font-weight: 650;
}

.about-heading-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;
    transition: 0.2s;
}

.about-image img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* work */

.work-box {
    padding-block: 4rem;
    flex-direction: column;
    gap: 2rem;
}

.work-head {
    text-align: center;
    font-size: 3rem;
    font-weight: 650;
}

.work-head span {
    font-size: 3rem;
    font-weight: 650;
}

.projects-box {
    row-gap: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 47%;
    gap: 0.8rem;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border-radius: 15px;
    transition: 0.3s;
    position: relative;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-name {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    color: white;
    transition: 0.2s;
}

.project-desc {
    opacity: 0;
    color: white;
    transition: 0.2s;
}

.project-card a {
    padding-top: 1rem;
}

.project-card i {
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 1rem;
    opacity: 0;
    transition: 0.2s;
}

.project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), black);
    border-radius: 15px;
    opacity: 0;
    transition: 0.2s;
}

.project-card:hover::after {
    opacity: 1;
}

.project-card:hover .project-name,
.project-card:hover .project-desc,
.project-card:hover a,
.project-card:hover i {
    opacity: 1;
    z-index: 1;
}

.project-1 {
    background-image: url(assets/proj1.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project-2 {
    background-image: url(assets/proj2.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project-3 {
    background-image: url(assets/proj3.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project-4 {
    background-image: url(assets/proj4.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* skills */

.skills-box {
    padding-block: 4rem;
    flex-direction: column;
    gap: 2rem;
}

.skills-head {
    text-align: center;
    font-size: 3rem;
    font-weight: 650;
}

.skills-head span {
    font-size: 3rem;
    font-weight: 650;
}

.skills-tech {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tech {
    width: 30%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border-radius: 15px;
    padding: 1rem;
    transition: 0.3s;
}

.tech:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--main-color);
}

.tech-img {
    width: 70px;
}

.tech-img img {
    width: 100%;
}

.tech-name {
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
}

/* contact */

.contact-form {
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
}

.contact-head {
    text-align: center;
    font-size: 3rem;
    font-weight: 650;
}

.contact-head span {
    font-size: 3rem;
    font-weight: 650;
}

.contact-desc {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.myform {
    width: 75%;
    padding-top: 2rem;
    margin-inline: auto;
}

.form-box {
    flex-direction: column;
    gap: 1rem;
}

input:placeholder-shown,
textarea:placeholder-shown {
    font-size: large;
}

input {
    padding: 1rem;
    width: 49%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border-radius: 10px;
    border: 1px solid transparent;
}

input:focus,
textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 .25rem rgba(120, 139, 255, 0.25);
}

textarea {
    padding: 1rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
}

.form1 {
    justify-content: space-between;
    flex-wrap; wrap;
}

.contact-btn {
    width: fit-content;
    margin: auto;
}

/* footer */

#foot {
    background-color: var(--main-color);
}

.my-footer {
    color: var(--bg-color);
    justify-content: space-between;
    padding-block: 1rem;
    align-items: center;
}

.my-footer i {
    font-size: larger;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 0.5rem;
    border-radius: 7px;
    border: 2px solid var(--main-color);
    outline: 2px solid transparent;
    transition: 0.3s ease;
}

.my-footer i:hover {
    outline-color: var(--bg-color);

}
